{% load static %}

<!DOCTYPE html>
<html lang="es-CL">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Common imports-->
    <script src="{% static "core/js/jquery.js" %}"></script>
    <script src="{% static "core/js/bootstrap.js" %}"></script>

    <link rel="stylesheet" href="{% static "core/css/bootstrap.css" %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"/>
    <link rel="stylesheet" href="{% static "core/css/base.css" %}">

    <link rel="shortcut icon" href="{% static "core/favicon.png"%}" type="image/png">

    {% block custom_head %}
    {% endblock custom_head %}
</head>
<body class="m-0">
    <header class="container-fluid">
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark row">
            <div class="col-12 col-sm-2 d-flex">
                <a href="{% url "index" %}" class="navbar-brand">
                    <img src="{% static "core/images/logo_okcasa.png"%}" alt="Logo OKCasa" style="height:60px">
                </a>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navcollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div class="col-12 col-sm-10 justify-content-end collapse navbar-collapse" id="navcollapse">
                <ul class="navbar-nav align-items-center text-center">
                    <li class="nav-item mx-2">
                        <a href="{% url "index" %}" class="nav-link">Inicio</a>
                    </li>
                    <li class="nav-item mx-2 ">
                        <a href="{% url "servicios" %}" class="nav-link">Servicios</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item mx-2 mr-md-0 d-none d-sm-inline">
                        <a href="{% url "inicio_sesion" %}" class="nav-link">
                            <i class="far fa-user fa-lg"></i>
                        </a>
                    </li>
                    <li class="nav-item d-sm-none mx-2">
                        <hr class="bg-light">
                        <a href="{% url "inicio_sesion" %}" class="nav-link">Iniciar sesión</a>
                    </li>
                    {% else %}
                    <li class="nav-item mx-2 mr-md-0 dropdown d-none d-sm-inline">
                        <a class="nav-link dropdown-toggle" id="ddUsuario" role="button" data-toggle="dropdown">
                            <i class="far fa-user fa-lg"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="{% url "perfil" %}" class="dropdown-item">Perfil</a>
                            <a href="{% url "historial" %}" class="dropdown-item">Solicitudes</a>
                            <a href="{% url "cierre_sesion" %}" class="dropdown-item">Cerrar sesión</a>
                        </div>
                    </li>
                    <li class="nav-item d-sm-none mx-2">
                        <hr class="bg-light">
                        <a href="{% url "perfil" %}" class="nav-link">Perfil</a>
                        <a href="{% url "historial" %}" class="nav-link">Solicitudes</a>
                        <a href="{% url "cierre_sesion" %}" class="nav-link">Cerrar sesión</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <main class="container-fluid">
    {% block main %}
    {% endblock main %}
    </main>

    <footer class="container-fluid py-2 bg-dark text-light">
        <div class="row">
            <div class="col-12 col-sm-3">
            </div>
            <div class="col-12 col-sm-6 text-center">
                <span class="">Todos los derechos reservados a sus respectivos autores. OKCasa© 2008-2019</span>
            </div>
            <div class="col-12 col-sm-3">
            </div>
        </div>
    </footer>
</body>
</html>