{% extends "core/__base__.html" %}

{% block custom_head %}
<title>OKCasa - Servicios</title>
{% endblock custom_head %}

{% block main %}
<div class="row p-4 p-md-5 mb-5">
    <div id="descripcion" class="col-12 p-3 mb-3">
        <h1 class="mb-4">Nuestros Servicios</h1>
        <p class="text-justify">En OKCasa queremos asegurarnos que recibas tu vivienda en perfectas condiciones, para esto ofrecemos una gama de servicios asesorados por expertos en su campo. A continuación puedes ver y solicitar una inspección por parte de nuestros profesionales, que responderan a la brevedad.</p>
        <p class="text-justify alert alert-info" role="alert">La comprobación de solicitud se realiza dentro de 3 días hábiles. De ser aprobada, la inspección inicial se realizaría dentro de 15 días hábiles a partir de la fecha aprobada.</p>
        
        {% if not user.is_authenticated %}
        <p class="text-justify mb-5 alert alert-warning" role="alert">Debes <a href="{% url "inicio_sesion"%}">iniciar sesión</a> para poder solicitar un servicio. Haz click <a href="#precios">aquí</a> para ver los precios.</p>
        {% endif %}

        <div class="row">
            {% for servicio in servicios %}
            <div class="col-12 col-lg-6 px-md-5 mb-5">
                <h3><a href="#collapse{{forloop.counter}}" data-toggle="collapse" role="button"><i class="fas fa-angle-down mr-3"></i>{{servicio.nombre}}</a></h3>
                <div class="collapse show" id="collapse{{forloop.counter}}">
                    <div class="card card-body ml-0 ml-md-3">
                        <p class="text-justify mb-0">{{servicio.descripcion}}</p>
                        {% if user.is_authenticated %}
                        <a href="{% url "solicitud" %}?id={{forloop.counter}}" class="btn btn-primary mb-2">Solicitar servicio</a>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <p id="precios">Puedes descargar nuestra tabla de precios actualizada <a href="">aquí</a> (.PDF). Recuerda que solo es una tabla de los precios base; para conocer el valor de manera precisa puedes solicitar el servicio y uno de nuestros agentes te guiará en la cotización de la inspección.</p>
    </div>
</div>
{% endblock main %}